/* Custom CSS */

html{
	/*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
}

.navbar {
	min-height:0px;
	border-width: 0 0 0 0px;
}

.navbar-fixed-top {
	background-image: -webkit-linear-gradient(left, #1D1D3F 0%, #1D1D3F 100%);
	background-image: -o-linear-gradient(left, #1D1D3F 0%, #1D1D3F 100%);
	background-image: linear-gradient(to right, #1D1D3F 0%, #1D1D3F 100%);
}

.logo {
	margin-left: 10px;
	padding: 0px;
}

.navbar-brand > img {
	height: 100%;
	padding: 15px;
	width: auto;
}

.text {
	padding-left: 0px;
	color: white !important;
}


.display > li.active > a{
	color: white;
  	background-color: #1D1D3F;
}

.display > li > a {
	color: #BFBEBE;
	background-color: white;
}

.category > li.active > a{
  	background-color: #BFBEBE;
}

.category > li > a {
	color: #1D1D3F;
	background-color: white;
}

.map,.locations{
	position:absolute;
   	top: 87px; 
   	right: 0; 
   	bottom: 37px; 
   	left: 0;
}

.locations{
	padding:20px;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

body {
    background-color: #e7e7e7;
    font-size:12px;
    height:100%;
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    /*
    background-image:linear-gradient(top, #E4E4E4 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #E4E4E4 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #E4E4E4 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #E4E4E4),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    */
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#1D1D3F;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
