{% extends "layout.html" %}

{% block content %}

<header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">Cryptocurrency Business and ATM Locator</div>
        <div class="intro-lead-in"></div>
        <!--
        <a href="#download" id="heroDownload" class="text-left page-scroll btn btn-hero btn-xl btn-spacer">
          <i class="fa fa-group  if-os-known distro-graphic "></i>
          Download
          <div class="btn-small detect" data-windows="Litecoin Core 0.13.2<br /> for Windows" data-mac="Litecoin Core 0.13.2<br /> for Mac OS X" data-linux="Litecoin Core 0.13.2<br /> for Linux" data-android="<br /> Litecoin for Android" data-dl-windows="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win64-setup.exe" data-dl-mac="https://download.litecoin.org/litecoin-0.13.2/osx/litecoin-0.13.2-osx.dmg" data-dl-linux="https://download.litecoin.org/litecoin-0.13.2/linux/litecoin-0.13.2-x86_64-linux-gnu.tar.gz" data-dl-android="https://litecointalk.org/index.php?topic=12196.0"></div>
        </a>
        <p>
          <a href="#download" class="page-scroll heroGpg" data-dl-windows="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win-signatures.asc"
            data-dl-mac="https://download.litecoin.org/litecoin-0.13.2/osx/litecoin-0.13.2-osx.dmg.asc" data-dl-linux="https://download.litecoin.org/litecoin-0.13.2/linux/litecoin-0.13.2-linux-signatures.asc">GPG Signatures</a>          |
          <a href="#download" class="page-scroll  ">Other Versions</a>
        </p>
        -->
      </div>
    </div>
  </header>

  <section id="about">
    <div class="container spacer">
      <div class="row">
        <div class="col-lg-12 ">
          <h2 class="section-heading text-center">What is SpotLite?</h2>
          <p class="large text-muted">
          With Litecoin being a fairly new technology for money transactions, the technology has spawned positive and negative reviews. 
          Though recently created, the Litecoin community has been very supportive and the new rush of developing applications to support the initial platform for peer to peer transfers is in action. 
          The purpose of this project is to develop a mobile application to help locate and notify users about Litecoin & Bitcoin ATM and business locations. 
          This application will decrease the time needed to find Litecoin & Bitcoin extraction points for Litecoin & Bitcoin holders around the globe. SpotLite primarily focuses on Asia and Europe. 
          Our goal is to simplify the experience of where to spend Litecoin & Bitcoin in the area surrounding the user, using location based services and alerts. 
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-group fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Community</h4>
          <p class="text-muted text-left">
            <p class="text-no-margin text-left text-muted">Find support across a growing number of Litecoin communities:</p>
            <ul class="text-muted text-left ">
              <li><a href="https://litecointalk.io">Litecoin Forums</a></li>
              <li><a href="https://web.telegram.org/#/im?p=@Litecoin">Litecoin Telegram</a></li>
              <li><a href="http://www.reddit.com/r/litecoin">Reddit Litecoin</a></li>
              <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&amp;src=typd">Search for Users on Twitter</a></li>
              <li><a href="http://freenode.net/" rel="nofollow">IRC FreeNode</a> network channels
                <a href="http://webchat.freenode.net/?channels=litecoin" rel="nofollow">#litecoin</a> (for general users)
                and
                <a href="http://webchat.freenode.net/?channels=litecoin-dev" rel="nofollow">#litecoin-dev</a> (for developers).
              </li>
            </ul>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Resources</h4>
          <p class="text-muted text-left">Find general information as well as a list of services and exchanges that support Litecoin at the <a href="http://litecoin.info">Litecoin Wiki</a>.
            <br> Up-to-date network statistics can be found at <a href="http://ltc.block-explorer.com/charts">Litecoin Block Explorer Charts</a>.
            <br> Source code for Litecoin Core and related projects are available on <a href="https://github.com/litecoin-project">GitHub</a>.</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Open Source Project</h4>
          <p class="text-muted text-left">SpotLite is an open source software project released under the MIT license which gives you the power to run,
            modify, and copy the software and to distribute, at your option, modified copies of the software. The software
            is released in a transparent process that allows for independent verification of binaries and their corresponding
            source code.
          </p>
        </div>
      </div>
      <!--
      <div class="row ">
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Blockchain</h4>
          <p class="text-muted text-left">The Litecoin blockchain is capable of handling higher transaction volume than its counterpart - Bitcoin. Due to
            more frequent block generation, the network supports more transactions without a need to modify the software
            in the future. <br/>As a result, merchants get faster confirmation times, while still having ability to wait
            for more confirmations when selling bigger ticket items.</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Wallet Encryption</h4>
          <p class="text-muted text-left">Wallet encryption allows you to secure your wallet, so that you can view transactions and your account balance,
            but are required to enter your password before spending litecoins. <br/>This provides protection from wallet-stealing
            viruses and trojans as well as a sanity check before sending payments.</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
            </span>
          <h4 class="service-heading">Mining Reward</h4>
          <p class="text-muted text-left">Miners are currently awarded with 25 new litecoins per block, an amount which gets halved roughly every 4 years
            (every 840,000 blocks). <br/>The Litecoin network is therefore scheduled to produce 84 million litecoins, which
            is 4 times as many currency units as Bitcoin.</p>
        </div>
      </div>
      -->
    </div>
  </section>

  <section id="download" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Download</h2>
          <h3 class="section-subheading text-muted"><a href='http://blog.litecoin.org/2017/01/litecoin-core-v0132_11.html'>Release Notes</a> | <a href='https://litecoin.info/Upgrading_Litecoin'>Upgrade Notes</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 btn-spacer ">
          <a href="https://download.litecoin.org/litecoin-0.13.2/osx/litecoin-0.13.2-osx.dmg" class="page-scroll btn btn-xl btn-wide text-left" style="color:white">
            <i class="fa fa-group fa-apple distro-graphic"></i>
            <div>
              Download
            </div>
            <div class="btn-small">Litecoin Core 0.13.2</div>
            <div class="btn-small">
              for Mac OS X
            </div>
          </a>
          <div>
            <a href="https://download.litecoin.org/litecoin-0.13.2/osx/litecoin-0.13.2-osx.dmg.asc">GPG Signatures</a> &nbsp;
          </div>
        </div>
        <div class="col-md-4 col-sm-6 btn-spacer ">
          <a href="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win64-setup.exe" class="page-scroll btn btn-xl btn-wide text-left" style="color:white">
            <i class="fa fa-group fa-windows distro-graphic"></i>
            <div>
              Download
            </div>
            <div class="btn-small">Litecoin Core 0.13.2</div>
            <div class="btn-small">
              for Windows
            </div>
          </a>
          <div>
            <a href="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win-signatures.asc">GPG Signatures</a>            | <a href="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win32-setup.exe">32bit</a> |
            <a href="https://download.litecoin.org/litecoin-0.13.2/win/litecoin-0.13.2-win64-setup.exe">64bit</a> &nbsp;
          </div>
        </div>
        <div class="col-md-4 col-sm-6 btn-spacer ">
          <a href="https://litecointalk.org/index.php?topic=12196.0" class="page-scroll btn btn-xl btn-wide text-left" style="color:white">
            <i class="fa fa-group fa-android distro-graphic"></i>
            <div>
              Download
            </div>
            <div class="btn-small"></div>
            <div class="btn-small">
              Litecoin for Android<br/>Litecoin for Blackberry
            </div>
          </a>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Contact us</h2>
          <p class="large text-bright">You can contact SpotLite project development team at <a href="spotlite@gmail.com"><span>spotlite@gmail.com</span></a></p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <span class="copyright">Copyright &copy; 2017 SpotLite Project. All rights reserved.</span>
        </div>
        <div class="col-md-12 ">
          <span>Powered By <img class="coincentrix" src="/images/coincentrix-logo.png"/></span>
        </div>
        <div class="col-md-12">
          <ul class="list-inline social-buttons ">
            <li class=""><a href="https://twitter.com/LitecoinProject"><i class="fa fa-twitter"></i></a></li>
            <li class=""><a href="https://web.telegram.org/#/im?p=@Litecoin"><i class="fa fa-send"></i></a></li>
            <li class=""><a href="https://www.reddit.com/r/litecoin/"><i class="fa fa-reddit-alien"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://litecoin.org/js/jquery.js"></script>

  <script src="https://litecoin.org/js/bootstrap.min.js"></script>

  <script src="https://litecoin.org/js/jquery.easing.min.js"></script>
  <script src="https://litecoin.org/js/jquery.browser.min.js"></script>
  <script src="https://litecoin.org/js/classie.js"></script>
  <script src="https://litecoin.org/js/cbpAnimatedHeader.js"></script>

  <script src="https://litecoin.org/js/agency.js"></script>
  <script>
    /* <![CDATA[ */(function (d, s, a, i, j, r, l, m, t) { try { l = d.getElementsByTagName('a'); t = d.createElement('textarea'); for (i = 0; l.length - i; i++) { try { a = l[i].href; s = a.indexOf('/cdn-cgi/l/email-protection'); m = a.length; if (a && s > -1 && m > 28) { j = 28 + s; s = ''; if (j < m) { r = '0x' + a.substr(j, 2) | 0; for (j += 2; j < m && a.charAt(j) != 'X'; j += 2)s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2); j++; s = decodeURIComponent(s) + a.substr(j, m - j) } t.innerHTML = s.replace(/</g, '&lt;').replace(/\>/g, '&gt;'); l[i].href = 'mailto:' + t.value } } catch (e) { } } } catch (e) { } })(document);/* ]]> */
  </script>
  
{% endblock %}
