<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll " href="#page-top">
        <img src="/images/litecoin-logo.png" class="navbar-logo" alt="litecoin logo"/>
        <span class="navbar-title">SpotLite</span>
      </a>
    </div>
    <div class="collapse navbar-collapse relative" id="bs-example-navbar-collapse-1">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        English <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="https://litecoin.org/zh/">繁體中文</a>
        </li>
        <li>
          <a href="https://litecoin.org/cn/">中文</a>
        </li>
        <li>
          <a href="https://litecoin.org/cs/">Česky</a>
        </li>
        <li>
          <a href="https://litecoin.org/da/">Dansk</a>
        </li>
        <li>
          <a href="https://litecoin.org/de/">Deutsch</a>
        </li>
        <li>
          <a href="https://litecoin.org/el/">Ελληνικά</a>
        </li>
        <li>
          <a href="https://litecoin.org/es/">Español</a>
        </li>
        <li>
          <a href="https://litecoin.org/et/">Eesti</a>
        </li>
        <li>
          <a href="https://litecoin.org/fi/">Suomi</a>
        </li>
        <li>
          <a href="https://litecoin.org/fr/">Français</a>
        </li>
        <li>
          <a href="https://litecoin.org/it/">Italiano</a>
        </li>
        <li>
          <a href="https://litecoin.org/ja/">日本語</a>
        </li>
        <li>
          <a href="https://litecoin.org/lv/">Latviešu</a>
        </li>
        <li>
          <a href="https://litecoin.org/nl/">Nederlands</a>
        </li>
        <li>
          <a href="https://litecoin.org/no/">Norsk</a>
        </li>
        <li>
          <a href="https://litecoin.org/pl/">Polski</a>
        </li>
        <li>
          <a href="https://litecoin.org/pt/">Português</a>
        </li>
        <li>
          <a href="https://litecoin.org/ru/">Русский</a>
        </li>
        <li>
          <a href="https://litecoin.org/sl/">Slovene</a>
        </li>
        <li>
          <a href="https://litecoin.org/sv/">Svenska</a>
        </li>
        <li>
          <a href="https://litecoin.org/tr/">Türkçe</a>
        </li>
        <li>
          <a href="https://litecoin.org/vi/">Việt</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#download">Download</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <a href="https://litecointalk.io/">Forum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
